.quickCard-card {
    max-width: 400px;
   
  }
  
  .quickCard-header-image {
    background-image: url('https://raw.githubusercontent.com/hippospace/aptos-coin-list/main/icons/Aptoslaunchlogob.svg');
    background-size: cover;
  }

  .quickCard-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    
  }

  mwl-gauge {
    width: 150px;
    height: 150px;
    display: block;
    padding: 10px;
  }
  mwl-gauge > .gauge > .dial {
    stroke: #eee;
    stroke-width: 2;
    fill: rgba(0, 0, 0, 0);
  }
  mwl-gauge > .gauge > .value {
    stroke: rgb(47, 227, 255);
    stroke-width: 2;
    fill: rgba(0, 0, 0, 0);
  }
  mwl-gauge > .gauge > .value-text {
    fill: rgb(47, 227, 255);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
  }
  
  .black-box {
    position: inherit;
    z-index: 1; 
    background: lightgray;
    height: 20px;  
    width: 50%;
    left: 0px;
    top: 0px;
  }

  .button-box
  {
    position: absolute;
    z-index: 2; /* green box will be above gray box */
    
    height: 150px;  
    width: 50%;
    left: 25%;
    top: 333px;
    margin: auto;


  }
  