
<mat-card class="quickCard-card">
    <mat-card-header>

        <div mat-card-avatar class="quickCard-header-image"></div>
    
        <mat-card-title><a style="width: 50%;">index (AIP 41)  </a>

        
         
      </mat-card-title>
      <mat-card-subtitle>
        {{rnd_Index | number:'1.4-4'   }}
      </mat-card-subtitle>


    </mat-card-header>

    
    <mat-card-content>  
      <ag-charts-angular
      style="height: 100%"
      [options]="options"
      >
      </ag-charts-angular>
    </mat-card-content>
    
    
    <mat-card-actions class="quickCard-actions"  >
      
    
        <table class="button-box" style=getstyle()>
          <tr>
            <td ></td>
            
              <td><button mat-fab style="background-color: darkgrey ;color:yellow;font-size: xx-large;"(click)=reverseSideClicked() [matTooltip]='"FLIP your position"' [matTooltipShowDelay]="showDelay"
                [matTooltipHideDelay]="hideDelay">Y</button></td>
              <td></td>
            </tr>
            <tr>
                <td><button mat-fab style="background-color: darkgrey ;color:blue;font-size: xx-large;"(click)=closeAllClicked() [matTooltip]='"CLOSE your position"' [matTooltipShowDelay]="showDelay"
                [matTooltipHideDelay]="hideDelay">X</button></td>
            <td ></td>
              <td><button mat-fab style="background-color: darkgrey ;color:red;font-size: xx-large;"(click)=buyClicked() [matTooltip]="messageexplainBuy" [matTooltipShowDelay]="showDelay"
                [matTooltipHideDelay]="hideDelay">B</button></td>
            </tr>
            <tr>
            <td ></td>
            <td><button mat-fab color="accent" style="background-color: darkgrey ;color:green;font-size: xx-large;"(click)=sellClicked() [matTooltip]="messageexplainSell" [matTooltipShowDelay]="showDelay"
              [matTooltipHideDelay]="hideDelay">A</button></td>
          </tr>
          <tr>
          </tr>
        </table>
     
      </mat-card-actions>
     
  <mat-card-footer>
    <div class="quickCard-footer">
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile style="text-align:left;font-weight: bolder">

       {{getFeelling()}}

           </mat-grid-tile>
        <mat-grid-tile>
          <div class="quickCard-footer-item">
            <div class="quickCard-footer-item-value" style="text-align :right"> Available: {{getAvailableBalance()| number:'1.4-4'  }}  </div>
            <div class="quickCard-footer-item-value" style="text-align:right"> Margin: {{getMarginBalance()| number:'1.4-4'  }}   </div>
            <div class="quickCard-footer-item-value"  style="text-align:right;font-weight: bolder;">Contract Balance  {{contractBalance}}</div>
          </div>
          <!-- <mwl-gauge
          [max]=100
          [min]=-100
          [dialStartAngle]="-90"
          [dialEndAngle]="-90"
          [value]=mygaugevalue
          [animated]="true"
          [animationDuration]="2"
        >
    
        </mwl-gauge>
        -->
      </mat-grid-tile>

    <mat-grid-tile>
     
          <a style="width: 50%;font-size: x-large; font-weight: bold; margin:auto">Balance {{getTotalBalance() | number:'1.4-4'}}</a>
     
    </mat-grid-tile>


    <mat-grid-tile>
    <button mat-raised-button  [matTooltip]='"TopUp Your Balance to 10"' [matTooltipShowDelay]="showDelay"
    [matTooltipHideDelay]="hideDelay"  color="accent" (click)=addcoins(10) >+10 {{coinDescription}}</button>

  </mat-grid-tile>

    </mat-grid-list>  
    <div class="quickCard-footer-item">
    
 
   
    </div>
    </div>
  </mat-card-footer>
  </mat-card>