.quickCard-card {
    max-width: 400px;
   
  }
  
  .quickCard-header-image {
    background-image: url('https://raw.githubusercontent.com/hippospace/aptos-coin-list/main/icons/Aptoslaunchlogob.svg');
    background-size: cover;
  }

  .quickCard-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
