
.example-card {
    max-width: 400px;
  }
  
.example-header-image {
background-image: url('https://static.seekingalpha.com/cdn/s3/uploads/getty_images/514719742/image_514719742.jpg?io=getty-c-w640');
background-size: cover;
}

.example-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
    